{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ path('account_new') }}"><i class="fa fa-plus"></i> Create a new account</a>
        <h1><i class="fa fa-rup"></i> Accounts list</h1>
    </div>

    <table id="dataTable" class="table table-bordered table-stripped">
        <thead class="thead-default">
            <tr>
                <th>Id</th>
                <th>#</th>
                <th>Type</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ path('account_show', { 'id': account.id }) }}">{{ account.id }}</a></td>
                <td>{{ account.number }}</td>
                <td>{{ account.type }}</td>
                <td>{{ account.owner }}</td>
                <td>
                    <a class="btn btn-sm btn-default" href="{{ path('account_show', { 'id': account.id }) }}"><i class="fa fa-eye"></i> show</a>
                    <a class="btn btn-sm btn-default" href="{{ path('account_edit', { 'id': account.id }) }}"><i class="fa fa-edit"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
