{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accounts list</h1>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>#</th>
                <th>Type</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ path('account_show', { 'id': account.id }) }}">{{ account.id }}</a></td>
                <td>{{ account.number }}</td>
                <td>{{ account.type }}</td>
                <td>{{ account.owner }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('account_show', { 'id': account.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('account_edit', { 'id': account.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('account_new') }}">Create a new account</a>
        </li>
    </ul>
{% endblock %}
