{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('account_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
        <h1>Account</h1>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Account Resume</div>
                <table class="table table-bordered">
                    <tbody>
                        {# <tr>
                            <th>Id</th>
                            <td>{{ account.id }}</td>
                        </tr> #}
                        <tr>
                            <th>Type:</th>
                            <td>{{ account.type }}</td>
                        </tr>
                        <tr>
                            <th>Owner:</th>
                            <td>{{ account.owner }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-success" href="{{ path('account_edit', { 'id': account.id }) }}"><i class="fa fa-edit"></i> Edit</a>
            {{ form_start(delete_form, {'attr': {'class': 'form-delete'}}) }}
                <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Delete</button>
            {{ form_end(delete_form) }}
        </div>
        <div class="col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Associated Debit Cards</div>
                <div class="panel-body">
                {# <ul> #}
                    {% for item in account.debitcard %}
                    <i class="fa fa-credit-card"></i> {{ item.cardno }} <br>
                    {% endfor %}
                {# </ul> #}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <p class="panel-heading">Balance</p>
                <p class="panel-body text-right">
                    <span class="h2">{{ account.balance|number_format(2, '.', ',') }}</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
