{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account</h1>

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ account.id }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ account.type }}</td>
                    </tr>
                    <tr>
                        <th>Owner</th>
                        <td>{{ account.owner }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-warning">
                <p class="panel-heading">Associated Debit Cards</p>
                <ul>
                    {% for item in account.debitcard %}
                    <li>{{ item.cardno }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <p class="panel-heading">Balance</p>
                <p class="panel-body"><span class="h2">{{ account.balance }}</span></p>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('account_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
