{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ account.type }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ account.owner }}</td>
            </tr>
            <tr>
                <th>Associated Debit Cards</th>
                <td>
                    <ul>
                        {% for item in account.debitcard %}
                        <li>{{ item.cardno }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('account_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
