{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ path('bank_new') }}"><i class="fa fa-plus"></i> Create a new bank</a>
        <h1><i class="fa fa-bank"></i> Banks list</h1>
    </div>

    <table id="dataTable" class="table table-bordered table-stripped">
        <thead class="thead-default">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bank in banks %}
            <tr>
                <td><a href="{{ path('bank_show', { 'id': bank.id }) }}">{{ bank.id }}</a></td>
                <td>{{ bank.name }}</td>
                <td>{{ bank.code }}</td>
                <td>{{ bank.address }}</td>
                <td>
                    <a class="btn btn-sm btn-default" href="{{ path('bank_show', { 'id': bank.id }) }}"><i class="fa fa-eye"></i> show</a>
                    <a class="btn btn-sm btn-default" href="{{ path('bank_edit', { 'id': bank.id }) }}"><i class="fa fa-edit"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
