{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('bank_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
        <h1 class="text-info">Bank creation</h1>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success btn-block"><i class="fa fa-check"></i> Create a New Bank</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/debitcards.js')}}"></script>
{% endblock %}