{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ path('customer_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
        <h1 class="text-success">Customer edit</h1>
    </div>

    
    {{ form_start(edit_form, {'attr' : {'class':'form-delete'}}) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Changes</button>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form, {'attr' : {'class':'form-delete'}}) }}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
    {{ form_end(delete_form) }}
{% endblock %}
